.garants{
    margin: 30px 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 25px;
}

.garant__item{
    position: relative;
}

.garant__item img{
    position: absolute;

}

.garant__describe{
    margin-left: 60px;

}

.garant__title{
    line-height: 1.2;
    color: inherit;
    font-weight: 700;

    margin-bottom: 15px;
}

.garant__text{
    line-height: 1.2;
    color: inherit;
    font-size: 14px;
}
