a{
    text-decoration: none;
}

.card__item {
    padding: 15px 5px 25px;
    /*width: 180px;*/
}

.card__item:hover {
    box-shadow: 0 0 16px rgba(0, 0, 0, .16);
    cursor: pointer;
}


.card__item img {
    margin-bottom: 10px;
    width: 100%;
}

.card__item p {
    color: hsl(350, 73%, 44%);
    text-decoration: none;
    font-weight: 700;
}


